.message {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.imageAndText {
    display: flex;
    order: 0;
    gap: 15px;
}

.imageAndText img {
    order: 1;
    width: 48px;
    height: 48px;
}

.text {
    position: relative;
    background: rgba(0, 102, 204, 1);
    border-radius: 8px 8px 0 8px;
    padding: 8px;
    color: rgba(255, 255, 255, 1);
}

.text:after {
    position: absolute;
    right: -12px;
    bottom: 0;
    content: '';
    width: 0;
    height: 0;
    border-bottom: 12px solid rgba(0, 102, 204, 1);
    border-right: 12px solid transparent;
}

.name {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: end;
}

.messageText {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.time {
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
}