.spanBlock {
    display: flex;
    align-items: center;
    gap: 10px;
}

.span {
    color: rgba(0, 128, 255, 1);
;
}

.input {
    width: 276px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid rgba(209, 209, 209, 1)
}

.pen {

}