.App {
    --header_height: 60px;
    width: 1280px;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    padding: 24px;
    margin: 47px auto;
}

.hw {
    min-height: 372px;
    width: 100%;
    border-bottom: 1px solid rgba(217, 217, 217, 1);
    border-top: 1px solid rgba(217, 217, 217, 1);
    padding: 24px 70px;
    position: relative;
}

.hwTitle {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
    margin-left: 70px;
    margin-top: 39px;
}

textarea, input {
    font-family: inherit;
}