.friendMessage {
    margin-bottom: 30px;
}

.friendImageAndText {
    display: flex;
    align-items: center;
    gap: 15px;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
}

.friendText {
    position: relative;
    background: rgba(245, 247, 251, 1);
    border-radius: 10px 10px 10px 0;
    padding: 8px 13px;
    color: rgba(0, 0, 0, 1);
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
}

.friendText:after {
    position: absolute;
    left: -12px;
    bottom: 0;
    content: '';
    width: 0;
    height: 0;
    border-bottom: 12px solid rgba(245, 247, 251, 1);
    border-left: 12px solid transparent;
}

.friendName {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
}

.friendMessageText {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
}

.friendTime {
    margin-left: 11px;
    font-size: 10px;
    line-height: 13px;
    font-weight: 600;
}
