.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.number {
    font-size: 16px;
    width: 10px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
